@page
@model webapp.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects List</h1>
<form method="post" class="card p-3">
    <div class="row">
        <div asp-validation-summary="All"></div>
    </div>
    <div class="form-group mb-0 align-middle">
        <label asp-for="NewProject.Name">Name</label>
        <input type="text" asp-for="NewProject.Name" class="mr-5">
        <label asp-for="NewProject.Description">Size</label>
        <select asp-for="NewProject.Description" class="mr-5"></select>
        <label asp-for="NewProject.Status"></label>
        <input asp-for="NewProject.Status" class="mr-5" />
        <label asp-for="NewProject.IsGlutenFree">Gluten Free</label>
    </div>
</form>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    @foreach (var Projects in Model.Project)
    {
        <tr>
            <td>@Projects.Name</td>
            <td>@Projects.Description</td>
            <td>@Projects.Status</td>
            <td>
                <form method="post" asp-page-handler="Delete" asp-route-id="@Projects.Id">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}